In [1]:
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\Users\\ADHYATM MISHRA\\Data-Science with python'

In [3]:
os.chdir("C:\\Users\\ADHYATM MISHRA")

In [4]:
os.getcwd()

'C:\\Users\\ADHYATM MISHRA'

In [5]:
df=pd.read_csv("policedata.csv")

In [6]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01/02/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
stop_date             65535 non-null object
stop_time             65535 non-null object
country_name          0 non-null float64
driver_gender         61474 non-null object
driver_age_raw        61481 non-null float64
driver_age            61228 non-null float64
driver_race           61475 non-null object
violation_raw         61475 non-null object
violation             61475 non-null object
search_conducted      65535 non-null bool
search_type           2479 non-null object
stop_outcome          61475 non-null object
is_arrested           61475 non-null object
stop_duration         61475 non-null object
drugs_related_stop    65535 non-null bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

In [8]:
df.shape

(65535, 15)

In [9]:
df.size

983025

In [10]:
df.index

RangeIndex(start=0, stop=65535, step=1)

In [11]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [12]:
df.drop( columns = 'country_name',inplace = True)# used to remove columns

In [13]:
df.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [14]:
df.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01/02/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [15]:
df['stop_time'].value_counts()

10:00    280
11:00    280
9:00     252
10:30    251
9:30     246
        ...
5:53       1
4:57       1
4:48       1
5:09       1
4:54       1
Name: stop_time, Length: 1432, dtype: int64

In [16]:
df[df['violation']=='Speeding'].violation.value_counts()

Speeding    37204
Name: violation, dtype: int64

In [17]:
df[df['violation']=='Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [18]:
df.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366.0
M    2113.0
Name: search_conducted, dtype: float64

In [25]:
df.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [27]:
df.shape

(65535, 14)